<div class="container">
  <p>Ask your coach</p>

  <form action="answer" data-turbo="false">
    <input class="border border-secondary rounded" type="text" name="question">
    <input class="btn btn-primary " type="submit" value="Ask!">
  </form>

</div>
